
*{
	box-sizing: border-box;
	font-family: 'Grenze', serif;
}

html,body{
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}

.container{
	max-width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
.header{
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffff66;
}
.header .ajuda{
	text-align: center; 
	padding-top: 30px;

}
.menu{
	
	float: right;
}
.cabecalho{
	display: inline-block;
	padding: 5px 10px;
	
	 
	margin: 0 auto;
}

.header .item{
	width: 33%;
	display: inline-block;
	float: left;

}
.ajuda input{
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
}



.slider .slide{
	text-align: center;
	display: none;
}
.slider .slide.ativo{
	display: block;
}


.cards .card{
	display: inline-block;
	width: 33%;
	float: left;
	margin: 0;
	padding: 10px;
	
}

#contato{
	background-color: #ccffe6
}

#contato .cadastro{
	display: inline-block;
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
}

.contato-form{
	text-align: center;
	padding: 25px 50px 75px;
	box-sizing: border-box; 
}
#contato .contato-form{
	padding-top: 50px;
}
.contato-form input{
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer{
	background-color: #ffff66;
	
	width: 100%;
	margin: 0;
	padding: 0;
}

.footer .rodape .rdp{
	display: inline-block;
	width: 33%;
	float: left;
	margin: 0;
	padding: 0;
}

.atlj{
	list-style-type: none; 
}

.cartao .cred{
	padding-left: 2px;
	width: 200px;
}

.social{
	width: 400px;
	display: flex;
	justify-content: flex-start;
}

.social .rs{
	padding-left: 2px;
	width: 50px;
	text-decoration: none;
	list-style: none;
}

.cartao {
	display: flex;
	justify-content: flex-start;
	text-decoration: none;
	list-style: none;
}

.livro{
	display: inline-block;
	width: 50%;
	float: left;
	padding: 10px;
}

.preço{
	color: #1212FF;
	text-align: center;
}

.preço button{
	border-style: solid;
	background-color: #FFBD63;
